{% extends "base.html" %}

{% load static wagtailcore_tags wonderland_tags%}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
    <h1 class='site-title'>{{ page.title }}</h1>
    <h3>Welcome, <em>{{ user.username }}</em>!</h3>
    {{ page.body | richtext }}

    <form action="{% url 'member' %}" method="get">
            <input type="text" name="query"{% if search_query %} value="{{ search_query }}"{% endif %}>
            <input type="checkbox" name="best" value=True {% if best == True %}checked{%endif%}>Best Lap</input>
            <input type="submit" value="Search" class="button">
    </form>
    {% get_member_laps as search_results %}
    {% include "search/search_results.html" %}
{% endblock %}  