{% extends "base.html" %}
{% load static wagtailcore_tags wonderland_tags%}

{% block body_class %}template-searchresults{% endblock %}

{% block title %}Search{% endblock %}

{% block content %}
<h1 class='site-title'>Search Laps</h1>

    <form action="{% url 'search' %}" method="get">
        <input type="text" name="query"{% if search_query %} value="{{ search_query }}"{% endif %}>
        <input type="checkbox" name="best" value=True {% if best == True %}checked{%endif%}>Best Lap</input>
        <input type="submit" value="Search" class="button">
    </form>
    {% include "search/search_results.html" %}
{% endblock %}
